<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head th:replace="/common/head.html">
</head>

<body th:style="'background-image: url(../images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">

<nav th:replace="/santier/navbar.html">
</nav>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">MyStoc Wernetto</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Santier Nou</h3>

                    <form role="form" th:action="@{/santier/handleAdd}" th:object="${santier}" method="post"
                          class="signin-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nume santier" name="nume"
                                   th:value="${santier.nume}" id="nume"
                                   required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Locatie santier" id="locatie"
                                   name="locatie" th:value="${santier.locatie}"
                                   required>
                        </div>

                        <div class="container py-5">
                            <div class="row">
                                <div class="col-lg-6 mx-auto">
                                    <label class="text-white mb-3 lead">Sef santier </label>

                                    <select data-style="bg-white rounded-pill px-4 py-3 shadow-sm"
                                            class="selectpicker w-100"
                                            id="userSantier" name="userSantier">
                                        <option th:each="user:${useri}" th:value="${user.id}"
                                                th:text="${user.nume}"
                                                th:selected="${santier.userSantier} != null and ${santier.userSantier.id}!= null and ${user.id} == ${santier.userSantier.id}"></option>
                                    </select>
                                    <script>
                                        $(function () {
                                            $('.selectpicker').selectpicker();
                                        });
                                    </script>
                                    <input type="hidden" th:value="${santier.id}" name="id">
                                    <div class="form-group">
                                        <button type="submit" value="Submit" onclick="myFunction()"
                                                class="form-control btn btn-primary submit px-3">Adauga santier
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="social d-flex text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>

