<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="/common/head.html">
</head>
<body th:style="'background-image: url(../images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">
<div th:replace="/santier/navbar.html"></div>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <td> Nr.Crt</td>
        <td> Denumire Categorie</td>
        <td>
            <div class="form-group">
                <a th:href="@{/categorie/add}">Adauga Categoire noua </a>
            </div>
        </td>

    </tr>
    </thead>
    <tbody>
    <tr th:each="categorie: ${categorii}">
        <td>1</td>
        <td th:text="${categorie.nume}"></td>
        <td>
            <a th:href="@{/categorie/update(categorie_id=${categorie.id})}">Update</a>
            <form th:action="@{/categorie/delete(categorie_id=${categorie.id})}" method="post">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>