<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head th:replace="/common/head.html">
</head>

<body th:style="'background-image: url(../images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">

<nav th:replace="/santier/navbar.html">
</nav>

<div class="d-flex" id="wrapper">
    <div
            th:replace="/sideBar/sideBar.html">
    </div>

    <!-- Sidebar -->
<!--    <div class="bg-light border-right" id="sidebar-wrapper">-->
<!--        <div class="list-group list-group-flush">-->
<!--            <a href="#" class="list-group-item list-group-item-action bg-light">Grafic de executie</a>-->
<!--            <a href="poze_santier" class="list-group-item list-group-item-action bg-light">Foto Santier</a>-->
<!--            <a href="poze_santier" class="list-group-item list-group-item-action bg-light">Cererile Mele</a>-->
<!--            <a th:href="@{/santier/magazie(santier_id=${santier.id})}"-->
<!--               class="list-group-item list-group-item-action bg-light">Magazie Santier</a>-->
<!--            <a th:href="@{/santier/cerere_and_items_santier(santier_id=${santier.id})}"-->
<!--               class="list-group-item list-group-item-action bg-light">Transfer Materiale</a>-->
<!--        </div>-->
<!--    </div>-->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Cerere Noua</h3>
                    <form id="form" method="post" th:action="@{/cerereMaterial/cerere_material_and_items}">
                        <div class="form-group">
                            <input type="hidden" name="santierIn" th:value="${santier.id}">
                            <!--        <select name="santierIn">-->
                            <!--            <option th:text="${santier.nume}" th:each="santier:${santiere}" th:value="${santier.id}"></option>-->
                            <!--        </select>-->

                            <select class="form-control" name="santierOut">
                                <option class="black-bg" th:text="${santier.nume}" th:each="santier:${santiere}"
                                        th:value="${santier.id}"></option>
                            </select>

                            <br>
                            <div id="items">
                                <div id="item">
                                    <select class="form-control" name="tipMaterial">
                                        <option class="black-bg" th:text="${tipMaterial.nume}" th:each="tipMaterial:${tipMateriale}"
                                                th:value="${tipMaterial.id}"></option>
                                    </select>
                                    <br>
                                    <input type="number" class="form-control black-bg" placeholder="cantitate" name="cantitate"
                                           required>
                                    <br>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <button onclick="addItemUi()" class="form-control btn btn-secondary px-3"> +
                                </button>
                                <br>
                            </div>
                            <div class="form-group">
                                <button type="submit" value="Submit"
                                        class="form-control btn btn-primary submit px-3">Trimite Cererea
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function addItemUi() {
        let form = document.getElementById("items");
        let container = document.createElement("div");
        let item = document.getElementById("item");
        container.innerHTML = item.innerHTML;
        form.appendChild(container);
    }
</script>
</body>
</html>