<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ro">

<head th:replace="/common/head.html">
</head>

<body th:style="'background-image: url(../images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">

<!-- Custom styles for this template -->
<link href="css/simple-sidebar.css" rel="stylesheet">

<div th:replace="/santier/navbar.html">
</div>

<div class="d-flex" id="wrapper">

    <div th:replace="/sideBar/sideBar.html">
    </div>

    <div id="page-content-wrapper">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <td> Denumire santier</td>
                <td> Nume</td>
                <td> Prenume</td>
                <td> Numar de tel.</td>
                <td> E-mail</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${santier.nume}"></td>
                <td th:text="${santier.userSantier.nume}"></td>
                <td th:text="${santier.userSantier.prenume}"></td>
                <td th:text="${santier.userSantier.numarDeTelefon}"></td>
                <td th:text="${santier.userSantier.email}"></td>
            </tr>
            </tbody>
        </table>

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

</body>

</html>