<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="/common/head.html">
</head>
<body th:style="'background-image: url(../images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">
<div th:replace="/santier/navbar.html">
</div>

<div class="d-flex" id="wrapper">
    <div
            th:replace="/sideBar/sideBar.html">
    </div>

    <div id="page-content-wrapper">

        <div>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <td>Denumire material</td>
                    <td>Cantitate</td>
                    <td>Unitate de Masura</td>

                </tr>
                </thead>
                <tbody>
                <tr th:each="materialStoc:${materialStocuri}">
                    <td th:text="${materialStoc.tipMaterial.nume}"></td>
                    <td th:text="${materialStoc.cantitate}"></td>
                    <td th:text="${materialStoc.tipMaterial.unitateMasura}"></td>
                    <td>
                        <a th:href="@{/materialStoc/update(materialStoc_id=${materialStoc.id})}"
                           th:classappend="${santier.userSantier != userRole.Admin} ? disabled:enabled">Update</a>
                    </td>
                    <td>
                        <form th:action="@{/materialStoc/delete(materialStoc_id=${materialStoc.id})}" method="post">
                            <button class="btn btn-outline-primary" style="color: #fbceb5" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>