<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00000055"
     xmlns:th="http://www.thymeleaf.org">

    <a class="navbar-brand" th:href="@{/}">
        <!--suppress RequiredAttributes -->
        <img th:src="@{/images/logoWernetto.png}" width="90" height="40" class="d-inline-block align-top" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Lista Santiere<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:if="${currentUser != null && currentUser != ''}"><a class="nav-link"
                                                                                        href="/santier/list">Toate
                santierele</a></li>

            <li class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administrare
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:href="@{/tipMaterial/list}">Editeaza Tip Material</a>
                    <a class="dropdown-item" th:href="@{/materialStoc/add}">Adauga Material Stoc</a>
                    <a class="dropdown-item" th:href="@{/santier/list}">Editeaza Material Stoc</a>
                    <a class="dropdown-item" th:href="@{/categorie/list}">Editeaza Categorie</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Log Out</a>
            </li>

        </ul>

    </div>
</nav>
