<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head th:replace="/common/head.html">
</head>

<body th:style="'background-image: url(../images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">

<nav th:replace="/santier/navbar.html">
</nav>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <td> Nr.Crt</td>
        <td> Denumire Santier</td>
        <td> Adresa Santier</td>
        <td> Sef Santier</td>
        <td> Optiuni</td>
        <td>
            <div class="form-group">
                <a th:href="@{/santier/add}">Adauga Santier nou </a>
            </div>
        </td>

    </tr>
    </thead>
    <tbody>
    <tr th:each="santier: ${santiere}">
        <td>1</td>
        <td>
            <a th:text="${santier.nume}" th:href="@{/santier/detaliu(santier_id=${santier.id})}"></a></td>
        <td th:text="${santier.locatie}"></td>
        <td th:text="${santier.userSantier.nume}"></td>
        <td>
            <a th:href="@{/santier/update(santier_id=${santier.id})}">Update</a>
        <td>
            <form th:action="@{/santier/delete(santier_id=${santier.id})}" method="post">
                <input type="submit" value="Delete">
            </form>

        <td>
            <input type="hidden" th:value="${santier.id}" name="id">

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>



