<!doctype html>
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org" class="border-right border-light text-light" style="background-color: #00000000"
     id="sidebar-wrapper">

    <a th:href="@{/santier/detaliu(santier_id=${santier.id})}"
       class="list-group-item list-group-item-action text-light" style="background-color: #00000055"
       th:text="${#strings.length(santier.nume)>20 ? #strings.substring(santier.nume,0,20) + '...': santier.nume}"></a>

    <a th:href="@{/santier/magazie(santier_id=${santier.id})}" style="background-color: #00000055"
       class="list-group-item list-group-item-action text-light">Magazie Santier</a>

    <a th:href="@{/santier/cerere_and_items_santier(santier_id=${santier.id})}"
       class="list-group-item list-group-item-action text-light" style="background-color: #00000055"
       th:classappend="${santier.userSantier != currentUser} ? disabled:enabled">
        Cere Materiale</a>

    <a th:href="@{/santier/cereriMaterial(santier_id=${santier.id})}" style="background-color: #00000055"
       class="list-group-item list-group-item-action text-light">Cererile Mele</a>

    <a th:href="@{/santier/photoList(santier_id=${santier.id})}" style="background-color: #00000055"
       class="list-group-item list-group-item-action text-light">Foto Santier</a>


</div>
