<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>StocMan Wernetto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="http://localhost:8080/css/style.css">

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body th:style="'background-image: url(images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">MyStoc Wernetto</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Have an account?</h3>


                    <form role="form" th:action="@{/sign-up}" th:method="post" th:object="${user}" class="signin-form">
                        <div class="form-group">
                            <input type="text" id="nume" name="nume" th:field="*{nume}" class="form-control" placeholder="Nume"
                                   required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="email" name="email" th:field="*{email}" class="form-control" placeholder="e-mail"
                                   required>
                            <p th:text="${error}"></p>
                        </div>
                        <div class="form-group">
                            <input id="passwordf" type="password" name="password"
                                   class="form-control"
                                   placeholder="Parola"
                                   th:field="*{password}"
                                   required>
                            <span toggle="#passwordf" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Inregistrare</button>
                        </div>

                    </form>





<!--                        <div class="form-group">-->
<!--                            <input type="text" class="form-control" placeholder="Username" id="username" name="username"-->
<!--                                   required>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <input id="password-field" type="password" name="password"-->
<!--                                   class="form-control"-->
<!--                                   placeholder="Password"-->
<!--                                   required>-->
<!--                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>-->
<!--                        </div>-->
<!--                        <div class="form-group d-md-flex">-->
<!--                            <div class="w-50">-->
<!--                                <label class="checkbox-wrap checkbox-primary">Remember Me-->
<!--                                    <input type="checkbox" checked>-->
<!--                                    <span class="checkmark"></span>-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="w-50 text-md-right">-->
<!--                                <a href="#" style="color: #fff">Forgot Password</a>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="form-group">-->
<!--                            <a th:href="@{/sign-up}" type="submit" class="form-control btn btn-danger px-3">Sign Up</a>-->
<!--                        </div>-->
<!--                    </form>-->
                    <div class="social d-flex text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



</body>
</html>

