<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="/common/head.html">
</head>
<body th:style="'background-image: url(../images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">
<div
        th:replace="/santier/navbar.html">

</div>

<form role="form" th:action="@{/materialStoc/handleAdd}" th:object="${materialStoc}" method="post"
      class="signin-form">
    <input type="hidden" th:value="${materialStoc.id}" name="id">


    <div>

        <select class="form-control" id="santier" name="santier">
            <option th:each="santier:${santiere}" th:value="${santier.id}"
                    th:text="${santier.nume}"
                    th:selected="${materialStoc.santier}!= null and ${santier.id} == ${materialStoc.santier.id}">
            </option>

        </select>
    </div>


    <div>

        <select class="form-control" id="tipMaterial" name="tipMaterial">
            <option th:each="tipMaterial:${tipMateriale}" th:value="${tipMaterial.id}"
                    th:text="${tipMaterial.nume}"
                    th:selected="${materialStoc.tipMaterial}!= null and ${tipMaterial.id} == ${materialStoc.tipMaterial.id}">
            </option>

        </select>
    </div>


    <div class="form-group">
        <input type="number" class="form-control" placeholder="cantitate" name="cantitate"
               th:value="${materialStoc.cantitate}" id="cantitate"
               required>
    </div>


    <div class="form-group">
        <button type="submit" value="Submit" onclick="myFunction()"
                class="form-control btn btn-primary submit px-3">Adauga material stoc
        </button>
    </div>
</form>

</body>
</html>

