<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>StocMan Wernetto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="http://localhost:8080/css/style.css">

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body th:style="'background-image: url(../images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">
<div
        th:replace="/santier/navbar.html">

</div>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">MyStoc Wernetto</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Material Nou</h3>

                    <form role="form" th:action="@{/tipMaterial/handleAdd}" th:object="${tipMaterial}" method="post"
                          class="signin-form">
                        <input type="hidden" th:value="${tipMaterial.id}" name="id">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nume Tip Material" name="nume"
                                   th:value="${tipMaterial.nume}" id="nume"
                                   required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Unite de masura" name="unitateMasura"
                                   th:value="${tipMaterial.unitateMasura}" id="unitateMasura"
                                   required>
                        </div>


                        <div>
                            <label for="categorieTipMaterial"></label>
                            <select class="form-control" id="categorieTipMaterial" name="categorieTipMaterial">
                                <option th:each="categorie:${categorii}" th:value="${categorie.id}"
                                        th:text="${categorie.nume}"
                                        th:selected="${tipMaterial.categorieTipMaterial}!= null and ${categorie.id} == ${tipMaterial.categorieTipMaterial.id}">
                                </option>
                            </select>
                        </div>
                        <br>
                        <!--                        <script>-->
                        <!--                            $(function () {-->
                        <!--                                $('.selectpicker').selectpicker();-->
                        <!--                            });-->
                        <!--                        </script>-->
                        <div class="form-group">
                            <button type="submit" value="Submit"
                                    class="form-control btn btn-primary submit px-3">Adauga Tip Material Nou
                            </button>
                        </div>
                    </form>
                    <div class="social d-flex text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

