<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="/common/head.html">
</head>
<body th:style="'background-image: url(../images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">
<div th:replace="/santier/navbar.html"></div>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <td> Denumire Material</td>
        <td> Categorie Material</td>
        <td> Unitate de masura</td>

        <td>
            <div class="form-group">
                <a th:href="@{/tipMaterial/add}">Adauga Material nou </a>
            </div>
        </td>

    </tr>
    </thead>
    <tbody>
    <tr th:each="tipMaterial: ${tipMateriale}">
        <td th:text="${tipMaterial.nume}"></td>
        <td th:text="${tipMaterial.categorieTipMaterial.nume}"></td>
        <td th:text="${tipMaterial.unitateMasura}"></td>
        <td>
            <a th:href="@{/tipMaterial/update(tipMaterial_id=${tipMaterial.id})}">Update</a></td>
        <td>
            <form th:action="@{/tipMaterial/delete(tipMaterial_id=${tipMaterial.id})}" method="post">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>



