<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head th:replace="/common/head.html">
</head>

<body th:style="'background-image: url(../images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">

<nav th:replace="/santier/navbar.html">
</nav>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">MyStoc Wernetto</h2>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Cerere Material</h3>

                    <form role="form" th:action="@{/cerereMaterial/handleAdd}" th:object="${cerereMaterial}"
                          method="post"
                          class="signin-form">
                        <input type="hidden" th:value="${cerereMaterial.id}" name="id">


<!--                        <div class="form-group">-->
<!--                            <input type="text" class="form-control" placeholder="status" name="status"-->
<!--                                   th:value="${cerereMaterial.status}" id="status"-->
<!--                                   required>-->
<!--                        </div>-->

                        <div class="form-group">
                            <label for="user">user</label>
                            <select class="form-control" id="user" name="user">
                                <option th:each="user:${useri}" th:value="${user.id}"
                                        th:text="${user.nume}"
                                        th:selected="${cerereMaterial.user}!= null and ${user.id} == ${cerereMaterial.user.id}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="santierCerere">santier</label>
                            <select class="form-control" id="santierCerere" name="santierCerere">
                                <option th:each="santier:${santiere}" th:value="${santier.id}"
                                        th:text="${santier.nume}"
                                        th:selected="${cerereMaterial.santierCerere}!= null and ${santier.id} == ${cerereMaterial.santierCerere.id}">
                                </option>
                            </select>
                        </div>
<!--                        <div class="form-group">-->
<!--                            <label for="date">data</label>-->
<!--                            <input type="date" class="form-control" placeholder="Data" name="date"-->
<!--                                   th:value="${cerereMaterial.date}" id="date"-->
<!--                                   required>-->
<!--                        </div>-->
                        <div class="form-group">
                            <button type="submit" value="Submit"
                                    class="form-control btn btn-primary submit px-3">Adauga Cerere noua
                            </button>
                        </div>
                    </form>
                    <div class="social d-flex text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
