<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head th:replace="/common/head.html">
</head>

<body th:style="'background-image: url(../images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">

<nav th:replace="/santier/navbar.html">
</nav>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">MyStoc Wernetto</h2>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Adauga material pentru cerere</h3>

                    <form role="form" th:action="@{/cerereMaterialItem/handleAdd}" th:object="${cerereMaterialItem}"
                          method="post"
                          class="signin-form">
                        <input type="hidden" th:value="${cerereMaterialItem.id}" name="id">

                        <div class="form-group">
                            <label for="tipMaterial">tip material</label>
                            <select class="form-control" id="tipMaterial" name="tipMaterial">
                                <option th:each="tipMaterial:${tipMaterial}" th:value="${tipMaterial.id}"
                                        th:text="${tipMaterial.nume}"
                                        th:selected="${cerereMaterialItem.tipMaterial}!= null and ${tipMaterial.id} == ${cerereMaterialItem.tipMaterial.id}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cantitate">cantitate</label>
                            <input type="number" class="form-control" placeholder="cantitate" name="cantitate"
                                   th:value="${cerereMaterialItem.cantitate}" id="cantitate"
                                   required>
                        </div>


                        <!--                        <div class="form-group">-->
                        <!--                            <label for="user">user</label>-->
                        <!--                            <select class="form-control" id="user" name="user">-->
                        <!--                                <option th:each="user:${useri}" th:value="${user.id}"-->
                        <!--                                        th:text="${user.nume}"-->
                        <!--                                        th:selected="${cerereMaterialItem.user}!= null and ${user.id} == ${cerereMaterialItem.user.id}">-->
                        <!--                                </option>-->
                        <!--                            </select>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-group">-->
                        <!--                            <label for="santierCerere">santier</label>-->
                        <!--                            <select class="form-control" id="santierCerere" name="santierCerere">-->
                        <!--                                <option th:each="santier:${santiere}" th:value="${santier.id}"-->
                        <!--                                        th:text="${santier.nume}"-->
                        <!--                                        th:selected="${cerereMaterialItem.santierCerere}!= null and ${santier.id} == ${cerereMaterialItem.santierCerere.id}">-->
                        <!--                                </option>-->
                        <!--                            </select>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-group">-->
                        <!--                            <label for="date">data</label>-->
                        <!--                            <input type="date" class="form-control" placeholder="Data" name="date"-->
                        <!--                                                             th:value="${cerereMaterialItem.date}" id="date"-->
                        <!--                                                             required>-->
                        <!--                        </div>-->
                        <div class="form-group">
                            <button type="submit" value="Submit"
                                    class="form-control btn btn-primary submit px-3">Adauga Mterial pentru Cerere
                            </button>
                        </div>
                    </form>
                    <div class="social d-flex text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
