<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head th:replace="/common/head.html">
</head>

<body th:style="'background-image: url(../images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">

<nav th:replace="/santier/navbar.html">
</nav>
<div class="d-flex" id="wrapper">
    <div th:replace="/sideBar/sideBar.html">
    </div>

    <div id="page-content-wrapper">
        <table class="table">

            <thead class="thead-dark">

            <tr>
                <td> Santier Iesire</td>
                <td> Status</td>
                <td> Actiuni</td>
            </tr>

            </thead>

            <tbody>

            <tr th:each="cerereMaterial: ${cerereMaterialeTrimise}">
                <td th:text="${cerereMaterial.santierOut.nume}"></td>
                <td th:text="${cerereMaterial.status}"></td>
                <td>
                    <a th:href="@{/cerereMaterial/update(cerereMaterial_id=${cerereMaterial.id})}"
                       class="btn-link"
                       th:classappend="${santier.userSantier != currentUser} ? disabled:enabled">Update</a>
                </td>
                <td>
                    <form th:action="@{/cerereMaterial/delete(cerereMaterial_id=${cerereMaterial.id})}"
                          method="post">
                        <input type="hidden" th:value="${cerereMaterial.id}" name="id">
                        <input type="submit" value="Delete" th:disabled="${santier.userSantier != currentUser}">
                    </form>
                </td>
            </tr>

            <tr th:each="cerereMaterial: ${cerereMaterialePrimite}">
                <td th:text="${cerereMaterial.santierIn.nume}"></td>
                <td th:text="${cerereMaterial.status}"></td>
                <td>
                    <form th:action="@{/santier/confirmCerere}"
                          method="post">
                        <input type="hidden" th:value="${cerereMaterial.id}" name="id">
                        <input type="submit" value="Confirm" th:disabled="${santier.userSantier != currentUser}">
                    </form>
                </td>
                <td>
                    <form th:action="@{/santier/rejectCerere}"
                          method="post">
                        <input type="hidden" th:value="${cerereMaterial.id}" name="id">
                        <input type="submit" value="Reject" th:disabled="${santier.userSantier != currentUser}">
                    </form>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>
