<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head th:replace="/common/head.html">
</head>

<body th:style="'background-image: url(../images/1s.jpg);background-repeat: no-repeat; background-attachment: fixed; background-position: center;'">

<nav th:replace="/santier/navbar.html">
</nav>

<!--    <form  method="post" th:action="@{/cerereMaterial/cerere_material_and_items}">-->
<!--    <select name="santierIn">-->
<!--        <option th:text="${santier.nume}" th:each="santier:${santiere}"  th:value="${santier.id}"></option>-->

<!--    </select>-->

<!--    <select name="santierOut">-->
<!--        <option th:text="${santier.nume}" th:each="santier:${santiere}" th:value="${santier.id}"></option>-->
<!--    </select>-->

<!--    <br>-->
<!--    <div id="">-->


<!--        <select name="tipMaterial">-->
<!--            <option th:text="${tipMaterial.nume}" th:each="tipMaterial:${tipMateriale}"-->
<!--                    th:value="${tipMaterial.id}"></option>-->
<!--        </select>-->
<!--        <input type="number" name="cantitate">-->

<!--    </div>-->
<!--    <input type="submit" value="Creaza cerere">-->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">MyStoc Wernetto</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Cerere Noua</h3>

                    <form id="form" method="post" th:action="@{/cerereMaterial/cerere_material_and_items}">
                        <div>
                            <select class="form-control" name="santierIn">
                                <option th:text="${santier.nume}" th:each="santier:${santiere}"
                                        th:value="${santier.id}"></option>

                            </select>
                        </div>
                        <br>
                        <div>
                            <select class="form-control" name="santierOut">
                                <option th:text="${santier.nume}" th:each="santier:${santiere}"
                                        th:value="${santier.id}"></option>

                            </select>
                        </div>
                        <br>
                        <div id="items">

                            <div id="item">
                                <div class="form-group">
                                    <select style="color: #cccccc" class="form-control" name="tipMaterial">
                                        <option th:text="${tipMaterial.nume}" th:each="tipMaterial:${tipMateriale}"
                                                th:value="${tipMaterial.id}"></option>
                                    </select>

                                    <br>

                                    <input type="number" class="form-control" placeholder="cantitate" name="cantitate"
                                           required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button onclick="addItemUi()" class="form-control btn btn-secondary px-3"> +</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" value="Submit"
                                    class="form-control btn btn-primary submit px-3">Creeaza Cererea
                            </button>
                        </div>
                    </form>
                    <div class="social d-flex text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function addItemUi() {
        let form = document.getElementById("items");
        let container = document.createElement("div");
        let item = document.getElementById("item");
        container.innerHTML = item.innerHTML;
        form.appendChild(container);
    }


</script>
</body>
</html>